
	*{
            margin: 0;
            padding: 0;
        }
        a{
            text-decoration: none;
            color: inherit;
        }
        ul, li{
            list-style: none;
        }
        img{
            width: 100%;
            height: 100%;
        }
        #container{
			margin-bottom: 100px;
		}
        .inner_con{
            width: 1200px;
            margin: 0 auto;
        }
        .banner_box{
            height: 700px;
			position: relative;
        }
		.banner_inbox{
			position: absolute;
			z-index: 99;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			padding: 30px;
			margin-top: 100px;
		}
        .banner_text{
            text-align: center;
            font-size: 20px;
            font-weight: 400;
            color: #fff;
            margin-bottom: 30px;
			background-color: rgba(0, 0, 0, 0.5);
			width: 100%;
			padding: 30px 0px;
        }

        .banner_img{
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
        }
        .banner_img>img{
            width: 400px;
        }
        .banner_start{
            text-align: center;
            font-weight: 700;
            color: #fff;
            margin-bottom: 30px;
        }
		.banner_start span{
			background-color: rgba(0, 0, 0, 0.5);
			padding: 5px 20px;
		}
        .banner_question{
            width: 200px;
            height: 50px;
            margin: 0 auto;
            display: block;
            background-image: url(../img/main/icon_question.svg);
            background-repeat: no-repeat;
            background-color: #213555;
            background-position: 10px;
            border: none;
            color: #fff;
            font-size: 20px;
            cursor : pointer;
        }
        /* 배너 끝 */
        .accommodation_title{
            margin-left: 30px;
			margin-bottom: 30px;
        }
        .accommodation>ul{
            display: flex;
            justify-content: space-around;
            margin-bottom: 50px;
        }
        .accommodation>ul>li{
            width: 230px;
			height: 230px;
			border-radius: 20px;
			overflow: hidden;
            text-align: center;
            font-weight: 700;
        }
        /* 숙소예약 끝 */
        .retal_car{
            margin-top: 70px;
        }
        .retal_car_title{
            margin: 30px;
        }
        .retal_car>ul{
            display: flex;
            justify-content: space-around;
            margin: 30px 0;
        }
        .retal_car>ul>li{
            width: 290px;
            height: 290px;
            text-align: center;
            font-weight: 700;
			border-radius: 20px;
			overflow: hidden;
            text-align: center;
            font-weight: 700;
        }
        .retal_car>ul>li:last-child>a{
			display: flex;
			align-items: center;
			justify-content: center;
        }
		.retal_car>ul>li:last-child>a>.scale_box{
			width: 200px;
			height: 200px;
		}
        /* 렌터카 예약 끝 */
        .water_leisure{
            margin-top: 70px;
        }
        .water_leisure_title{
            margin: 30px;
        }
        .water_leisure>ul{
            display: flex;
            justify-content: space-around;
            text-align: center;
            margin: 30px 0;
            font-weight: 700;
        }
        .water_leisure>ul>li{
            width: 290px;
            height: 290px;
            text-align: center;
            font-weight: 700;
			border-radius: 20px;
			overflow: hidden;
            text-align: center;
            font-weight: 700;
        }
        .w_img_box{
            width: 290px;
            height: 290px;
            margin-bottom: 30px;
        }
        /* 수상레저 예약 끝 */
        .land_leisure{
            margin-top: 70px;
        }
        .land_leisure_title{
			margin-left: 200px;
        }
		.land_leisure_inbox{
			display: flex;
			justify-content: center;
		}
        .land_leisure>.land_leisure_inbox>ul{
            display: flex;
            justify-content: space-around;
            text-align: center;
            margin: 30px 0;
            font-weight: 700;
			width: 900px;
        }
        .land_leisure>.land_leisure_inbox>ul>li{
            width: 290px;
            height: 290px;
            text-align: center;
            font-weight: 700;
			border-radius: 20px;
			overflow: hidden;
            text-align: center;
            font-weight: 700;
        }
        .l_img_box{
            width: 290px;
            height: 290px;
            margin-bottom: 30px;
        }
        /* 지상레져 끝 */

		/* 이미지 돌아가면서 글씨 올리기 */
		.out_box{
			position: relative;
			display: block;
			height : 100%;
			width : 100%;
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
			
		}
		.scale_box{
		    transition-duration: 0.6s;
			height : 100%;
			width : 100%;
		
		}
		.out_box:hover .scale_box{
            transform: scale(1.1);
			
		}
		.out_box .out_box_txt{
			position: absolute;
			bottom: -40px;
			left: 50%;
			transform: translateX(-50%);
			background-color: rgba(0, 0, 0, 0.8);
			width: 100%;
			color: #fff;
			font-size: 20px;
			transition-duration: 0.6s;
		}
		.out_box:hover .out_box_txt{
			bottom: 0;
		}
		.out_box .out_box_txt div:first-child{
			margin-top: 10px;
		}
		.out_box .out_box_txt div:last-child{
			color : #FFA41B;
		}
		.out_box .out_box_txt div{
			margin-bottom: 10px;
		}
		.a_img_box, .r_img_box, .w_img_box, .l_img_box{
			height : 100%;
			width : 100%;
		}

		/* 스와이퍼 시작 */
		.swiper {
          width: 100%;
          height: 100vh;
          margin-top: -100px;
        }
    	.swiper-wrapper {
    	height:90%
    	}
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .slide-1{
          background: url(./img/main/img1.jpg) no-repeat center;
          background-size: cover;
        }
        .slide-2{
          background: url(./img/main/img2.jpg) no-repeat center;
          background-size: cover;
        }
        .slide-3{
          background: url(./img/main/img3.jpg) no-repeat center;
          background-size: cover;
        }
        .slide-4{
          background: url(./img/main/img4.jpg) no-repeat center;
          background-size: cover;
        }
        .slide-5{
          background: url(./img/main/img5.jpg) no-repeat center;
          background-size: cover;
        }
        .swiper-pagination-bullet-active{
          background-color: #000;
        }

		
		.link_list{
			width: 1000px;
			margin: 0 auto;
			margin-top: 50px;
			margin-bottom: 80px;
		}
		.link_list ul{
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			width: 100%;
			display: flex;
			justify-content: space-around;
			font-weight: bold;
			font-size: 20px;
		}
		.link_list ul li{
			width: 250px;
			height: 100%;
			text-align: center;
		}
		
		.link_list ul li a{
			width: 100%;
			height: 100%;
			display: block;
			position: relative;
			z-index: 9;
			padding: 20px 0;
		}
		
		.link_list ul li a:hover{
			color: #213555;
		}
		.link_list ul li a::after{
			content: "";
			position: absolute;
			left: 50%;
			bottom: -1px;
			width: 0;
			height: 2px;
			background-color: #213555;
		}
		.link_list ul li a:hover::after{
			width: 100%;
			left: 0;
			transition-duration: 0.8s;
		}
		.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	    bottom: var(--swiper-pagination-bottom,85px);
	    top: var(--swiper-pagination-top,auto);
	    left: 0;
	    width: 100%;
		}
		.shadow_class{
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
		}