	input[type=radio] {
		accent-color: #213555;
	}
	.btn {
		width: 100px;
		height: 50px;
		color: white;
		background-color: #aaa;
	   	border: none;
	   	border-radius: 5%;
	   	padding: 7px;
	   	font-size: 12px;
	   	text-align: center;
	   	margin: 10px auto;
	   	cursor: pointer;
	}
		
	.btn:hover{
		color: white;
		background-color: #213555;
	}
	.redTxt {
		color: #FA163F;
	}
	.bar {
		color: #213555;
	}