	#container {
		width: 1200px;
		margin: 0px auto;
		text-align: center;
	}
	.box {
		text-align: left;
		border-bottom: 1px solid #ddd;
		padding: 10px;
		margin: 10px;
	}
	.mainTxt {
		width: 100%;
		color: rgb(78, 79, 81);
		font-weight : bold;
		font-size: 22px;
		border-bottom: 1px solid #bbb;
		padding-bottom: 50px;
		margin: 50px auto 10px; 
	}
	.coreTxt {
		width: 100%;
		color: rgb(78, 79, 81);
		font-weight : bold;
		font-size: 18px;
		padding-bottom: 10px;
		text-align: left;
		margin: 30px 0px;
	}
	.bar {
		color: #ff3333;
	}
	table {
		border : 1px solid black;
		border-collapse: collapse;
		text-align : center;
	}
	th, td {
		border : 1px solid black;
		padding : 5px 10px;
	}
	.wrap input, textarea {
	    border: 1px solid rgba(0, 0, 0, 0.08);
	    background: none;
	    width: 96%;
	    margin-top: 10px;
	    font-size: 16px;
	    line-height: 1;
	    color: rgba(0, 0, 0, 0.56);
	    border: 1px solid rgba(0, 0, 0, 0.08);
	    height: 40px;
	    padding: 10px;
	    border-radius: 4px;
	}
	.wrapPhone {
		width: 100%;
	}
	.wrapPhone input {
	    border: 1px solid rgba(0, 0, 0, 0.08);
	    background: none;
	    width: 30%;
	    margin-top: 10px;
	    font-size: 16px;
	    line-height: 1;
	    color: rgba(0, 0, 0, 0.56);
	    border: 1px solid rgba(0, 0, 0, 0.08);
	    height: 40px;
	    padding: 10px;
	    border-radius: 4px;
	}
	input[type=radio] {
		accent-color: #ff3333;
	}
	.btn {
		width: 100px;
		height: 50px;
		color: white;
		background-color: #ff3333;
	   	border: none;
	   	border-radius: 5%;
	   	padding: 7px;
	   	font-size: 12px;
	   	text-align: center;
	   	margin: 10px auto;
	   	cursor: pointer;
	}
		
	.btn:hover{
		color: rgb(50, 50, 50);
		background-color: #ff3333;
	}