	.btn {
	  display: inline-block;
	  padding: 0 30px;
	  font-size: 15px;
	  font-weight: 400;
	  background: transparent;
	  text-align: center;
	  white-space: nowrap;
	  vertical-align: middle;
	  -ms-touch-action: manipulation;
	  touch-action: manipulation;
	  cursor: pointer;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  border: 1px solid transparent;
	  text-transform: uppercase;
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0;
	  -webkit-transition: all 0.3s;
	  -moz-transition: all 0.3s;
	  -ms-transition: all 0.3s;
	  -o-transition: all 0.3s;
	  transition: all 0.3s;
	}
	
	.tool_area button {
      background-color: #374259;
      color: #fff;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    .tool_area button:hover {
      background-color: #213555;
    }
    
	.btn-dark {
	  background: #445069;
	  color: #fff;
	}
	
	.btn-dark:hover, .btn-dark:focus {
	  background: #213555;
	  border-color: #213555;
	  color: #fff;
	}
	
	/* reset */
	
	.btn1 {
	  display: inline-block;
	  padding: 8px 16px;;
	  font-size: 12px;
	  font-weight: 400;
	  background: #445069;
	  border:1px solid #445069;
	  color: white;
	  border-radius: 5px;
	  cursor: pointer;
	}

	.btn1:hover {
	  background-color : #213555;
	  transform: scale(1.05);
	  color: white;
	}
	.btn2 {
	  display: inline-block;
	  padding: 8px 16px;;
	  font-size: 12px;
	  font-weight: 400;
	  background: #F38181;
	  border:1px solid #F38181;
	  color: white;
	  border-radius: 5px;
	  cursor: pointer;
	}

	.btn2:hover {
	  background-color : #FA163F;
	  border:1px solid #FA163F;
	  transform: scale(1.05);
	  color: white;
	}